# Google OAuth Client ID
VITE_GOOGLE_CLIENT_ID=tu_google_client_id_aqui

# WooCommerce REST API (usar keys de SOLO LECTURA)
VITE_WOO_API_URL=https://wp.tecnophone.co/wp-json/wc/v3
VITE_WOO_CONSUMER_KEY=ck_tu_consumer_key_aqui
VITE_WOO_CONSUMER_SECRET=cs_tu_consumer_secret_aqui
